<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iOSSampleCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0EC3AAB21D1CFA0A00615F05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EC3AACB1D1CFA0B00615F05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EC3AAD61D1CFA0B00615F05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EFC174B1D428136008E919B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
